@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
}

/* TAGS HTML */

html{
  scroll-behavior: smooth;
}



/* CLASSES */


.menu {
  overflow: hidden;
  background-color: white;
  position: relative;
}
.menu #menu-itens {
  display: none;
}
.menu a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.menu a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
}
.menu a:hover {
  background-color: #7c2c4c;
  color: white;
}
.logotipo {
  background-color: transparent;
  color: white;
}
.capa-index {
  width: 100%;
  margin-top: 2%;
}
.imagem-capa {
  width: 100%;
  margin: auto;
}
.imagem-capa img {
  width: 100%;
  height: auto;
}
.titulo-geral {
  color: #7c2c4c;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 3%;
  margin-left: 5%;
}
.itens-container {
  width: 100%;
  display: flex;
}

.item-direito {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.item-direito img {
  width: 90%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.item-esquerdo {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}
.item-esquerdo img {
  width: 90%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.itens-textos {
  width: 90%;
  margin: 5%;
}
.itens-textos h3 {
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 1.5%;
  color: #7c2c4c;
}
.itens-textos p {
  font-size: 17px;
}
.localizacao {
  width: 90%;
  margin: 5%;
}
.funcionamento {
  display: flex;
  flex-direction: column;
}
.funcionamento h2 {
  font-size: 23px;
  font-weight: 600;
  color: #7c2c4c;
  margin-left: 5%;
  margin-bottom: 2%;
}
.funcionamento p {
  margin-left: 5%;
  margin-bottom: 2%;
  padding-bottom: 1%;
  }
.rodape {
  background-color: #293b83;
  color: #FFF;
}
.endereco-footer {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 4%;
  border-bottom: #FFF solid 1px;
}
.endereco-footer h4 {
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 3%;
}
.endereco-footer span {
  font-size: 15px;
}
.contato-footer {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 4%;
  border-bottom: #FFF solid 1px;
  display: flex;
  flex-direction: column;
}
.contato-footer h4 {
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 3%;
}
.contato-footer span {
  font-size: 15px;
  padding-bottom: 1%;
}
.informacoes-footer {
  width: 90%;
  margin-left: 5%;
  padding-bottom: 4%;
}
.informacoes-footer h4 {
  font-size: 18px;
  padding-top: 2%;
  padding-bottom: 3%;
}
.informacoes-footer span {
  font-size: 15px;
}
.copyright {
  background-color: #293b83;
  color: #FFF;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding: 2%;
}
.botao-receita {
  width: 90%;
  display: flex;
}
.botao-receita button {
  font-size: 17px;
  background-color: transparent;
  border: 2px solid #7c2c4c;
  border-radius: 5px;
}
.botao-receita button a {
  text-decoration: none;
  color: #000;
}
.botao-receita button:hover {
  background-color: #293b83;
  border: 2px solid #293b83;
  transition: ease-in 0.2s;
}
.botao-receita button a:hover {
  color: #FFF;
}

/* Página Sobre */

.sobre-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.imagem-sobre {
  width: 90%;
  margin: 5%;
}
.imagem-sobre img {
   width: 100%;
}
.sobre-container h2 {
  font-size: 25px;
  font-weight: 600;
  color: #7c2c4c;
  margin-left: 5%;
  margin-bottom: 2%;
}
.sobre-container p {
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2%;
}



/* IDS */

#logotipo:hover {
  background-color: transparent;
  color: #7c2c4c;
}
#whatsapp {
  display: fixed;
  position: fixed;
  bottom: 12%;
  right: 3%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #25D366;
  cursor: pointer;
  padding-left: 2%;
  border-radius: 50%;
  font-size: 30px;
}
#whatsapp:hover {
  transition: ease-in-out 0.2s;
  transform: scale(1.5);
}

#up-bottom {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #7c2c4c;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  }
  #up-bottom:hover {
    transition: ease-in 0.2s;
    background-color: white;
  }
  #separador-maps {
    color: black;
    border: solid 1px;
    border-radius: 5px;
    width: 90%;
  }
  #google-maps {
    width: 100%;
    height: auto;
  }
  #mapa {
    width: 90%;
    height: auto;
    margin: 5%;
  }
  #linha-rodape {
    color: #000;
    border: solid 1px;
  }



  /* RESPONSIVIDADES */

  /* MOBILE */


  



  /* TABLET */


  /* MONITOR 1024 */


  /* MONITOR 1366 */


  /* MONITOR 1440 */


  /* MONITOR 1600 */


  /* MONITOR 1920 */